body {
  font-family: "Arial", sans-serif;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
}
.contact-container {
  max-width: 700px;
  margin: 60px auto;
}
.contact-card {
  border-radius: 0.5rem;
  box-shadow: 0 0px 10px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.card-header h4 {
  text-align: center;
  padding: 15px 0;
  background-color: #007bff;
  color: #fff;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
}
.card-body {
  padding: 30px;
}
.form-group {
  margin-bottom: 20px;
}
label {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
  color: #007bff;
}
.input-group {
  position: relative;
}
.input-group .icon {
  position: absolute;
  top: 23px;
  left: 10px;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #007bff;
}
input,
textarea {
  width: 100%;
  padding: 9px 35px;
  border: 2px solid #ccc;
  font-size: 1rem;
  color: #333;
}
textarea {
  resize: none;
}
textarea::placeholder {
  padding-left: 5px;
}
.input-group input:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
}
.button-group {
  display: flex;
  justify-content: end;
  gap: 15px;
}
.btn-cancel,
.btn-submit {
  padding: 10px 20px;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn-cancel {
  background-color: #dc3545;
  color: #fff;
}
.btn-cancel:hover {
  background-color: #c82333;
}
.btn-submit {
  background-color: #007bff;
  color: #fff;
}
.btn-submit:hover {
  background-color: #0056b3;
}
.card-footer h5 {
  text-align: center;
  margin-top: 10px;
  font-size: 1.25rem;
  padding: 15px 0;
  background-color: #007bff;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  color: white;
}
